{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="content mt-5">
        {% if form.errors %}
            <p>Неверные имя пользователя или пароль. Попробуйте еще раз.</p>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
            <p>У вас нет доступа к просмотру этой страницы.</p>
            {% else %}
                <p>Пожалуйста, войдите или <a href="/accounts/register/">зарегистрируйтесь</a>, чтобы просматривать эту страницу.</p>
            {% endif %}
        {% endif %}
    </div>

    <div class="content mt-5">
        <h1 class="title">Вход</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Войти" class="button is-success is-outlined">
        </form>
    </div>
{% endblock %}