<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'Styles/bulma.css' %}" rel="stylesheet">
    <title>{% block title %}Проект по вебу{% endblock %}</title>
</head>
<body>
    <nav class="navbar has-background-light" role="navigation">
        <div class="container">
            <label class="navbar-burger" for="nav-toggle-state">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <input type="checkbox" id="nav-toggle-state">
            <div id="navbarMenu" class="navbar-menu">
            {% if user.is_authenticated %}
                <div class="navbar-start">
                    <a class="navbar-item" href="/courses/">Все курсы</a>
                    <a class="navbar-item" href="/test_results/">Мои решения</a>
                    <a class="navbar-item" href="/user/courses/">Мои курсы</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="button is-dark is-outlined" href="/accounts/logout/">Выйти</a>
                    </div>
                </div>
            {% else %}
                <div class="navbar-end">
                    <div class="navbar-item buttons">
                        <a class="button" href="/accounts/login/">Войти</a>
                        <a class="button" href="/accounts/register/">Зарегистрироваться</a>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </nav>

    <div id="content" class="container">
        {% block breadcrumb %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
