{% extends "webproject/base_navigable.html" %}

{% block title %}Тест {{ test.name }}{% endblock %}

{% block breadcrumb-items %}
    <li><a href="/courses">Курсы</a></li>
    <li><a href="/courses/{{ test.course.id }}">{{ test.course.name }}</a></li>
    <li><a href="/courses/{{ test.course.id }}/test/{{ test.id }}">{{ test.name }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">Тест <b>{{ test.name }}</b></h1>
    {% if test.course.author == user %}
        <h2 class="subtitle">Вопросы</h2>
        {% for question in question_set %}
            <div class="question box content">
                <p><b>Вопрос:</b> {{ question.text }}
                <p><b>Ответ:</b> {{ question.answer }}
                <p><b>Баллы:</b> {{ question.points }}
            </div>
        {% endfor %}
    {% else %}
        <div class="block content">
            <p>Вопросов: {{ question_set.count }}
            <p>Баллов за правильное решение: {{ total_points }}
        </div>
    {% endif %}

    <form method="POST" class="block">
        {% csrf_token %}
        <button id="start-test-button" type="submit" class="button is-warning">Начать тест</button>
    </form>

    {% if test.course.author == user %}
        <div class="block buttons">
            <a href="test_results/" class="button is-dark is-outlined">Присланные решения</a>
            <a href="update/" class="button is-link is-outlined">Редактировать тест</a>
        </div>
    {% endif %}
{% endblock %}
