{% extends "webproject/base.html" %}

{% block title %}Редактирование теста{% endblock %}

{% block content %}
    <h1>Редактировать тест</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        <div class="test-form">
            {{ form.as_p }}
        </div>
        {{ question_formset.management_form }}
        {% for question_form in question_formset %}
            <div class="question-form">
                <ul>
                    <li> Вопрос: {{ question_form.text }}
                    {% for error in  question_form.text.errors %}
                        {{ error }}
                    {% endfor %}
                    <li> Ответ: {{ question_form.answer }}
                    {% for error in  question_form.answer.errors %}
                        {{ error }}
                    {% endfor %}
                    <li> Баллы: {{ question_form.points }}
                    {% for error in  question_form.points.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
                {{ question_form.id }}
                <div class="delete-box" hidden> {{ question_form.DELETE }} </div>
                <button id="{{ question_form.prefix }}-delete" type="button" onclick="deleteForm(this)">-</button>
            </div>
        {{ question_form.non_field_errors }}
        {% endfor %}
        <button id="add-form" type="button">+</button>
        <button type="submit">Сохранить</button>
    </form>
    <a href="..">К просмотру теста</a>
{% endblock %}


{% block scripts %}
    <template id="question-form-template">
        <div class="question-form">
            {{ question_formset.empty_form.as_p }}
            <ul>
                <li> Вопрос: {{ question_formset.empty_form.text }}
                <li> Ответ: {{ question_formset.empty_form.answer }}
                <li> Баллы: {{ question_formset.empty_form.points }}
            </ul>
            {{ question_form.id }}
            <div class="delete-box" hidden> {{ question_formset.empty_form.DELETE }} </div>
            <button id="{{ question_formset.empty_form.prefix }}-delete" type="button" onclick="deleteForm(this)">-</button>
        </div>;
    </template>


    <script>
        let container = document.querySelector("#form-container");
        let addButton = document.querySelector("#add-form");
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
        let template_form = document.querySelector("#question-form-template")
            .content.querySelector(".question-form");
        let lastPrefix = totalForms.value - 1;

        addButton.addEventListener('click', addForm);

        function addForm(e) {
            let newForm = template_form.cloneNode(true);
            newForm.innerHTML = newForm.innerHTML.replace(/form-__prefix__/g, `form-${++lastPrefix}`);
            container.insertBefore(newForm, addButton);
            totalForms.setAttribute('value', `${ lastPrefix + 1 }`)
        }

        function deleteForm(caller) {
            let caller_form = caller.parentElement;
            caller_form.hidden = true;
            let delete_box = caller_form.querySelector('.delete-box');
            delete_box.children[0].checked = true;
        }
    </script>
{% endblock %}
