{%  extends "webproject/base_navigable.html" %}

{% block title %}Тесты курса {{ course.name }}{% endblock %}

{% block breadcrumb-items %}
    <li><a href="/courses">Курсы</a></li>
    <li><a href="/courses/{{ course.id }}">{{ course.name }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">Тесты курса <b>{{ course.name }}</b></h1>
    <div>
    {% for object in object_list %}
        <a class="box" href="test/{{ object.id }}/">{{ object.name }}</a>
    {% endfor %}
    </div>
    {% if course.author == user %}
        <div class="block mt-5">
            <a class="button is-link is-light is-fullwidth" href="test/create/">Создать тест</a>
        </div>
    {% endif %}
{% endblock %}
